.sub-menu{
  width: 100%;
  min-width: 150px;

  li{
    padding: 5px !important;
    margin: auto;
    //width: 33% !important;
    //background-color: #f4cb10 !important;
    a{
      margin: auto;
    }
  }
  li:hover{
    background-color: #ffa500!important;
  color:#ffffff!important;
  }
}
.custom-css{
  padding: 2px;
  //float: left!important;
}
//.archive_style_1 > .business_category_left{
//  //width: 50%!important;
//  float:left!important;
//
//}
//li:hover{
//  color:#ffffff!important;
//}
//li a:hover{
//  color: #ffa500!important;
//
//}